body {
  padding: 6px;
}

.box {
  display: flex;
}

.price {
  margin-left: auto;
  padding-left: 12px;
}

/* yes this is bad, but my add not about styling */
.price .MuiBox-root {
  font-size: 24px;
}

.list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-item {
  float: left;
  margin-left: 4px;
}

.list-item:first-child {
  margin-left: 0px;
}